USE [master]
GO
/****** Object:  Database [RDdb]    Script Date: 5/3/2016 1:55:25 PM ******/
CREATE DATABASE [RDdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RDdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\RDdb.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RDdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\RDdb_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RDdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RDdb]
GO
/****** Object:  User [RD_User]    Script Date: 5/3/2016 1:55:25 PM ******/
CREATE USER [RD_User] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [RD_Public]    Script Date: 5/3/2016 1:55:25 PM ******/
CREATE USER [RD_Public] FOR LOGIN [RD_Public] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NT AUTHORITY\NETWORK SERVICE]    Script Date: 5/3/2016 1:55:25 PM ******/
CREATE USER [NT AUTHORITY\NETWORK SERVICE] FOR LOGIN [NT AUTHORITY\NETWORK SERVICE] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NT AUTHORITY\LOCAL SERVICE]    Script Date: 5/3/2016 1:55:25 PM ******/
CREATE USER [NT AUTHORITY\LOCAL SERVICE] FOR LOGIN [NT AUTHORITY\LOCAL SERVICE] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [IIS APPPOOL\.NET v4.0]    Script Date: 5/3/2016 1:55:25 PM ******/
CREATE USER [IIS APPPOOL\.NET v4.0] FOR LOGIN [IIS APPPOOL\.NET v4.0] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [RD_User]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [RD_User]
GO
ALTER ROLE [db_owner] ADD MEMBER [RD_Public]
GO
ALTER ROLE [db_datareader] ADD MEMBER [RD_Public]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [RD_Public]
GO
ALTER ROLE [db_owner] ADD MEMBER [NT AUTHORITY\NETWORK SERVICE]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NT AUTHORITY\NETWORK SERVICE]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [NT AUTHORITY\NETWORK SERVICE]
GO
ALTER ROLE [db_owner] ADD MEMBER [NT AUTHORITY\LOCAL SERVICE]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NT AUTHORITY\LOCAL SERVICE]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [NT AUTHORITY\LOCAL SERVICE]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\.NET v4.0]
GO
/****** Object:  Table [dbo].[RDDummy]    Script Date: 5/3/2016 1:55:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RDDummy](
	[Nos] [int] IDENTITY(1,1) NOT NULL,
	[ID] [nchar](10) NULL,
	[Type] [nchar](30) NULL,
	[Title] [nchar](100) NULL,
	[Description] [varchar](max) NULL,
	[Date] [nchar](10) NULL,
	[Place] [nchar](100) NULL,
	[Department] [nchar](10) NULL,
	[Year] [nchar](10) NULL,
	[Designation] [nchar](30) NULL,
	[Status] [nchar](10) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RDTBL]    Script Date: 5/3/2016 1:55:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RDTBL](
	[Nos] [int] IDENTITY(1,1) NOT NULL,
	[ID] [nchar](10) NULL,
	[Name] [nchar](30) NULL,
	[Designation] [nchar](30) NULL,
	[Department] [nchar](10) NULL,
	[ContactNo] [nchar](10) NULL,
	[Password] [nchar](30) NULL,
	[Location] [nchar](20) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Upload]    Script Date: 5/3/2016 1:55:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Upload](
	[Nos] [int] IDENTITY(1,1) NOT NULL,
	[ID] [nchar](10) NULL,
	[Type] [nchar](30) NULL,
	[Title] [nchar](100) NULL,
	[Description] [varchar](max) NULL,
	[Location] [nchar](20) NULL,
	[Date] [nchar](10) NULL,
	[Place] [nchar](100) NULL,
	[Department] [nchar](10) NULL,
	[Year] [nchar](10) NULL,
	[Designation] [nchar](30) NULL,
	[Data] [nchar](50) NULL,
	[SS] [nchar](10) NULL,
	[Status] [nchar](10) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
